In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [3]:
data = pd.read_csv('C:/Users/rushikesh/Downloads/Costomer+OrderForm.csv')

In [4]:
data

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [5]:
objList = data.select_dtypes(include = "object").columns
print (objList)

Index(['Phillippines', 'Indonesia', 'Malta', 'India'], dtype='object')

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    data[feat]=le.fit_transform(data[feat].astype(str))
    
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    int32
 1   Indonesia     300 non-null    int32
 2   Malta         300 non-null    int32
 3   India         300 non-null    int32
dtypes: int32(4)
memory usage: 4.8 KB
None

In [7]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2])

F_onewayResult(statistic=0.1434683513934984, pvalue=0.8663680942680894)

# p value is greater than 0.05 so stay with the null hypothesis.