In [2]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [3]:
data=pd.read_csv("C:/Users/rushikesh/Downloads/BuyerRatio.csv")

In [4]:
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
objList = data.select_dtypes(include = "object").columns
print (objList)

Index(['Observed Values'], dtype='object')

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    data[feat]=le.fit_transform(data[feat].astype(str))
    
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      int32
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int32(1), int64(4)
memory usage: 200.0 bytes
None

In [7]:
import scipy.stats as stats
stats.f_oneway(data.iloc[:,0],data.iloc[:,1],data.iloc[:,2])

F_onewayResult(statistic=1.0692760049567307, pvalue=0.44608821213341227)

# # p value is greater than 0.05 so stay with null hypothesis